<h1>Books</h1>

<table>

  <thaed>
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thaed>

  <tbody>
    <tr>
      <% @books.each do |book| %>
        <td>
          <%= book.title %>
        </td>
        <td>
          <%= book.body %>
        </td>
        <td>
          <%= link_to "show", book_path(book.id) %>
          <%= link_to "edit", edit_book_path(book.id) %>
          <%= link_to "destroy", book_path(book.id), method: :delete %>
        </td>
      <% end %>
    </tr>
  </tbody>

</table>

<h2>New book</h2>

<%= form_with model: Book.new do |f| %>
  <p>title</p>
  <%= f.text_field :title %>

  <p>body</p>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book'%>
<% end %>
